<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teste</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="teste.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="teste.js"></script>
</head>
<body>
    <div class="jumbotron vertical-center background1">
        <div class="container text-center">
            <div class="title">Merry Christmas!!</div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                    <div class="top-bg"></div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 iPhone-features" style="margin-left:-25px;">
                    <ul class="top-features">
                        <li>
                            <input id="bitaite" type="text" placeholder="Bitaîte/Agradecimento"/>
                        </li>
                        <li>
                            <input id="bebe" type="text" placeholder="Quem bebe" required/>
                        </li>
                        <li>
                            <input id="nome" type="text" placeholder="Nome"/>
                        </li>
                        <button type="button" id="button" class="btn btn-light">Enviar</button>
                    </ul>
                </div>
            </div>
            <div id="result"></div>
        </div>
    </div>
</body>
</html>
