<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teste</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="teste.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <script src="./frontend.js"></script>
</head>
<body>
<div class="jumbotron vertical-center background2">
    <div class="container text-center">
        <!--<div class="title">Merry Christmas!!</div>-->
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                <div class="top-bg"></div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 iPhone-features" style="margin-left:-25px;">
                <div class="card" id="card1">
                    <div class="card-body">
                        <h5 class="card-title" id="#acknowledgment">CONA!!</h5>
                        <p class="card-text">Bitaîte/Agradecimento</p>

                    </div>
                </div>
                <div class="card" id="card2">
                    <div class="card-body">
                        <h5 class="card-title" id="whodrinks">CONA DE EGUA!</h5>
                        <p class="card-text">Quem Bebe?</p>
                    </div>
                </div>
                <div class="card" id="card3">
                    <div class="card-body">
                        <h5 class="card-title" id="namex">O MAIOR</h5>
                        <p class="card-text">Quem Mandou beber?</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="result"></div>
    </div>
</div>
</body>
</html>
