html, body {
    height: 100%;
    overflow: hidden;

}

.container {
    width: 1025px;
}

.background1{
    background-image: url(christmas-snow-wallpaper-HD7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.background2{
    background-image: url(173614342.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.vertical-center {
    height: 100%;
    width: 100%;
    text-align: center; /* align the inline(-block) elements horizontally */
    font: 0/0 a; /* remove the gap between inline(-block) elements */
}

.vertical-center:before { /* create a full-height inline block pseudo=element */
    content: ' ';
    display: inline-block;
    vertical-align: middle; /* vertical alignment of the inline element */
    height: 100%;
}

.vertical-center > .container {
    max-width: 100%;
    display: inline-block;
    vertical-align: middle; /* vertical alignment of the inline element */
    font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif; /* <-- reset the font property */
}

.top-features {
    list-style: none;
}

input[type="text"] {
    width: 100%;
    margin: 10px auto;
    max-width: 600px;
    padding: 8px;
}

input[type=button] {
    margin: 10px auto;
}

.title {
    font-size: 60px;
    margin-bottom: 50px;
    color: #ffffff;
}

#button{
    font-size: 20px;
}

.card{
    margin: 40px 0;
}

.card-body{
    color: #ffffff;
}

.card-title{
    font-size: 30px;
    word-wrap: break-word;
}

@media (max-width: 768px) {
    .vertical-center:before {
        /* height: auto; */
        display: none;
    }

}

/*RESPONSIVE STUFF*/

/* Portrait and Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {

    input[type="text"] {
        width: 100%;
        margin: 10px auto;
        max-width: 900px;
        padding: 15px;
    }

    input[type=button] {
        margin: 30px auto;
    }

    .title {
        font-size: 60px;
        margin-bottom: 50px;
    }

}

/* Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {

    .background1,.background2{
        background-position: -1200px !important;
    }

    input[type="text"] {
        margin: 30px auto !important;
        max-width: 900px !important;
        padding: 15px!important;
        font-size: 50px !important;
    }

    input[type=button] {
        margin: 30px auto;
    }

    .title {
        font-size: 150px !important;
        margin-bottom: 50px !important;
    }

    #button{
        font-size: 60px !important;
        margin: 30px auto !important;
    }

    #button:hover {
        color: #212529!important;
        background-color: #e2e6ea!important;
        border-color: #dae0e5!important;
    }

    .card{
        margin: 90px 0;
    }

    .card-title{
        font-size: 80px !important;
    }

    .card-text{
        font-size: 60px !important;
    }
}

/* Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {

    input[type="text"] {
        margin: 10px auto !important;
        max-width: 900px !important;
        padding: 15px !important;
        font-size: 25px !important;
    }

    input[type=button] {
        margin: 30px auto !important;
    }

    .title {
        font-size: 60px !important;
        margin-bottom: 50px !important;
    }

    #button{
        font-size: 25px !important;
        margin: 30px auto !important;
    }

}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {

    input[type="text"] {
        width: 100%;
        margin: 10px auto;
        max-width: 900px;
        padding: 15px;
    }

    input[type=button] {
        margin: 30px auto;
    }

    .title {
        font-size: 60px;
        margin-bottom: 50px;
    }

}

/* Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {

    .title {
        font-size: 60px;
        margin-bottom: 50px;
    }

    input[type="text"] {
        width: 100%;
        margin: 10px auto;
        max-width: 900px;
        padding: 15px;
    }

    input[type=button] {
        margin: 30px auto;
    }
}

/* Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {

    input[type="text"] {
        margin: 10px auto !important;
        max-width: 900px !important;
        padding: 15px !important;
        font-size: 25px !important;
    }

    input[type=button] {
        margin: 30px auto !important;
    }

    .title {
        font-size: 60px !important;
        margin-bottom: 50px !important;
    }

    #button{
        font-size: 25px !important;
        margin: 30px auto !important;
    }

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2) {

    .title {
        font-size: 60px;
        margin-bottom: 50px;
    }

    input[type="text"] {
        width: 100%;
        margin: 10px auto;
        max-width: 900px;
        padding: 15px;
    }

    input[type=button] {
        margin: 30px auto;
    }

}

/* Portrait */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {

    .title {
        font-size: 60px;
        margin-bottom: 50px;
    }

    input[type="text"] {
        width: 100%;
        margin: 10px auto;
        max-width: 900px;
        padding: 15px;
    }

    input[type=button] {
        margin: 30px auto;
    }

}

/* Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {

    input[type="text"] {
        margin: 10px auto !important;
        max-width: 900px !important;
        padding: 15px !important;
        font-size: 25px !important;
    }

    input[type=button] {
        margin: 30px auto !important;
    }

    .title {
        font-size: 60px !important;
        margin-bottom: 50px !important;
    }

    #button{
        font-size: 25px !important;
        margin: 30px auto !important;
    }

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3) {
    .title {
        font-size: 60px;
        margin-bottom: 50px;
    }

    input[type="text"] {
        width: 100%;
        margin: 10px auto;
        max-width: 900px;
        padding: 15px;
    }

    input[type=button] {
        margin: 30px auto;
    }

}

/* Portrait */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {
    .title {
        font-size: 60px;
        margin-bottom: 50px;
    }

    input[type="text"] {
        width: 100%;
        margin: 10px auto;
        max-width: 900px;
        padding: 15px;
    }

    input[type=button] {
        margin: 30px auto;
    }

}

/* Landscape */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) {
    input[type="text"] {
        margin: 10px auto !important;
        max-width: 900px !important;
        padding: 15px !important;
        font-size: 25px !important;
    }

    input[type=button] {
        margin: 30px auto !important;
    }

    .title {
        font-size: 60px !important;
        margin-bottom: 50px !important;
    }

    #button{
        font-size: 25px !important;
        margin: 30px auto !important;
    }

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3) {
    .title {
        font-size: 60px;
        margin-bottom: 50px;
    }

    input[type="text"] {
        width: 100%;
        margin: 10px auto;
        max-width: 900px;
        padding: 15px;
    }

    input[type=button] {
        margin: 30px auto;
    }

}

/* Portrait */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {
    .title {
        font-size: 60px;
        margin-bottom: 50px;
    }

    input[type="text"] {
        width: 100%;
        margin: 10px auto;
        max-width: 900px;
        padding: 15px;
    }

    input[type=button] {
        margin: 30px auto;
    }

}

/* Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) {
    input[type="text"] {
        margin: 10px auto !important;
        max-width: 900px !important;
        padding: 15px !important;
        font-size: 25px !important;
    }

    input[type=button] {
        margin: 30px auto !important;
    }

    .title {
        font-size: 60px !important;
        margin-bottom: 50px !important;
    }

    #button{
        font-size: 25px !important;
        margin: 30px auto !important;
    }

}
